<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifsp.ddm.ifbook"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.edu.ifsp.ddm.ifbook.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.edu.ifsp.ddm.ifbook.EditarPerfil"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.edu.ifsp.ddm.ifbook.ExibePerfil"
            android:screenOrientation="portrait" />
        <activity android:name="br.edu.ifsp.ddm.ifbook.ActivityCadastroMensagem" />
        <activity android:name="br.edu.ifsp.ddm.ifbook.Perfil_listagem" />
        <activity android:name="br.edu.ifsp.ddm.ifbook.ActivityListaClassificados" />
        <activity android:name="br.edu.ifsp.ddm.ifbook.ActivityListaMensagens" />
        <activity android:name="br.edu.ifsp.ddm.ifbook.ListaClassificados" />
        <activity android:name="br.edu.ifsp.ddm.ifbook.Perfil_Usuario" />
        <activity
            android:name="br.edu.ifsp.ddm.ifbook.ActivityCadastroClassificado"
            android:label="@string/title_activity_activity_cadastro_classificado" >
        </activity>
        <activity
            android:name="br.edu.ifsp.ddm.ifbook.ListarMeusClassificados"
            android:label="@string/title_activity_listar_meus_classificados" >
        </activity>
        <activity
            android:name="br.edu.ifsp.ddm.ifbook.EditarMeuClassificado"
            android:label="@string/title_activity_editar_meu_classificado" >
        </activity>
        <activity
            android:name="br.edu.ifsp.ddm.ifbook.ActivityEditarClassificado"
            android:label="@string/title_activity_activity_editar_classificado" >
        </activity>
    </application>

</manifest>